body{
    padding: 0px;
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.a{
    text-decoration: none;
}
a:visited{
    color: darkred;
}
.container{
    background-color: #000033;
    opacity: 0.9;
    height: 140px;
}
.navbar-logo{
    height: 140px;
    width: 180px;
}
.navbar-nav{
    float: right;
}
.navbar-item a:hover{
    color: gold;
}
.navbar-item{
    color: gold;
    float: left;
    padding: 25px;
    list-style: none;
    font-style: inherit;
    font-size: 25px;
    font-weight: lighter;
}
.hero-img{
    height: 100%;
    width: 100%;
}
section{
    padding: 0px;
    margin: 0px;
}

.footer{
    background-color: #000033;
    opacity: 0.9;
    height: 100px;
    width: 100%;
}
.footer-item{
    float: left;
    margin-top: 50px;
    margin-left: 300px;
    color: gold;
    font-weight: bolder
}